<!DOCTYPE html>
<html lang="en">

<head>
</html>
<body>
         
    <a href="#">
    
        <img class="card-img-top"

             src="/static/vendor/img/products/Brown-sports-oversized-top-ASOS-DESIGN.png"

             alt="">

    </a>
    <div class="col-lg-4 col-md-6 mb-4">
        {% for product in products%}
        <div class="card h-100">
    
    
            <div class="card-body">
    
                <h4 class="card-title">
    
                    <a href="#">{{product.name}}</a>
    
                </h4>
    
                <h5>{{product.price}}</h5>    
            </div>
    
            <div class="card-footer text-center">
                <a class="btn btn-outline-success" href="{% url 'Rauan:basket_add' product.id %}">Отправить в корзину</a>
         
    
            </div>
    
        </div>
    {%endfor%}
    </div>
</body>

</html>
